/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap'); */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --tenne-tawny: #d65108;
    --tenne-tawny-dark: #b54507;
}

body {
    background-color: rgba(202, 202, 176, 0.226);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: .03 !important;
    color: gray;
    font-size: 1rem;

    line-height: 1.6;
}

main {

    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: .03 !important;
    color: gray;
    font-size: 1rem;
    padding: 4px;

    line-height: 1.6;
    /* font-family: poppins, sans-serif; */
}

/*  */
.container-fluid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 4px 0px;
    background-color: rgba(202, 202, 176, 0.226);
}

.container-fluid a {
    text-decoration: none;
    color: rgb(136, 136, 63);
    padding: 8px;
    margin: 0 1px;
    font-weight: bolder;

}

.container-fluid a:active {
    background-color: rgb(136, 136, 63);
    color: white;
    padding: 8px;
    margin: 0 1px;
}

#logo-typo {
    font-size: xx-large;
    margin-left: 4px;
    background-color: rgb(136, 136, 63);
    color: rgba(202, 202, 176, 0.979);
    padding: 4px 8px;
}

/*  */


/*  */
.hero {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    margin: 10px 0 40px;

}

.hero button {
    background-color: orangered;
    border: none;
    padding: 8px;
    color: white;
}

.hero .hero-img-section {
    width: 66.5%;
    height: 600px;
    padding: 40px;
    position: relative;
    color: white;
    border: 8px solid orangered;
    background-image: linear-gradient(rgba(0, 0, 0, 0.171), rgba(0, 0, 0, 0.308)), url("images/hero-img.jpg");
}

.part-1 {
    display: flex;
    flex-direction: row;
    font-size: small;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.hero-img-section .part-2 {
    font-weight: 40px;
    font-size: 50px;
    color: white;
}

.part-2 {
    margin-bottom: 20px;
    font-weight: 40px;
    font-size: 24px;
}

.part-3 span {
    color: olive;
}

.part-4 button {
    position: absolute;
    bottom: 40px;
    left: 40;

}

.part-4 p {
    position: absolute;
    bottom: 40px;
    right: 40px;
}


/*  */


/*  */

.hero-content-section {
    display: flex;
    flex-direction: column;
    width: 33%;
    gap: 10px;
}

.article {
    width: 100%;
    min-height: 295px;
    position: relative;
    color: gray;
    border: 7px solid orangered;
    padding: 20px;
}

.article h3,
h1 {
    color: black;
}

.article-4 h1,
.article-6 h1,
.article-7 h1 {
    color: white;
}

.article p {
    font-size: small;
}



.article-1 {
    background-image: white;
    color: gray;
    border: 7px solid cadetblue;
    ;
}

.article-1 button {
    background-color: cadetblue;
    border: none;
    padding: 8px;
    color: white;
}

.article-2 {
    background-image: white;
    border: 7px solid rgba(202, 202, 176, 0.897);
    ;

}

.article-3,
.article-8 {
    background-color: white;
    border: 7px solid mediumslateblue;
}

.article-3 button,
.article-8 button {
    background-color: mediumslateblue;
    border: none;
    padding: 8px;
    color: white;
}

.article-4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.171), rgba(0, 0, 0, 0.308)), url("images/WGC-Green-Beans-copy.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 7px solid olivedrab;
    color: white;
}

.article-4 button,
.article-7 button {
    background-color: olivedrab;
    border: none;
    padding: 8px;
    color: white;
}

.article-5 img {
    width: 100%;
}

.article-5 {
    border: none;
}

.article-6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.171), rgba(0, 0, 0, 0.308)), url("images/fresh-tomato-pasta-recipe-481998-hero-15-88f9495dfdd8428fafea9232c1bfd7f1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.article-6 button {
    background-color: orangered;
    border: none;
    padding: 8px;
    color: white;
}

.article-7 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.171), rgba(0, 0, 0, 0.308)), url("images/artichokes.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    border: 7px solid olivedrab;
    color: white;
}

/*  */

.all-articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}


/*  */

/*  */
.about-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: justify;
    font-weight: lighter;
    font-size: smaller;
    padding: 60px 0;

}

.about-section p {
    font-weight: lighter;
    color: grey;
    font-size: smaller;
}

.about-section h1 {
    font-size: 3.4rem;

}

.about-section-inner {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.about-section-inner img {
    width: 40%;
}

.about-img {
    width: 60%;
}

.about-img img {
    width: 100%;
    border: 8px solid rgba(202, 202, 176, 0.979);
    ;
    min-height: 400px;
}

.about-details {
    width: 50%;
    padding: 20px;
    line-height: 30px;
    font-weight: 5px;
    background-color: white;
}

.about-details h2 {
    font-size: 2rem;
}

.about-details .half-paragraph {
    display: grid;
    gap: 10px;
    margin: 20px 0;
    width: 100%;
    align-items: center;

    grid-template-columns: repeat(2, 1fr);
}

.about-details img {
    width: 100%;
}

.about-details p {
    color: gray;
}



/*  */
.display-section {
    margin: 20px 0;
    padding: 80px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.display-section div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-section img {
    width: 15%;
}

.display-section h1 {
    color: rgba(202, 202, 176, 0.979);
}

.author-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.author-context {
    text-align: justify;
    font-size: smaller;
    color: rgba(128, 128, 128, 0.747);
    padding: 20px;
    background-color: white;
}

.author-section h1 {
    font-size: 2.4rem;
}

/*  */
.authors-profile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 40px;
    gap: 20px;
}

.authors-profile-img img {
    width: 100%;
    height: 300px;
    border: 8px solid rgba(202, 202, 176, 0.979);
}

.article-9,
.article-10,
.article-11 {
    border: 8px solid rgba(202, 202, 176, 0.979);
}

.authors-profile .article {
    color: gray;
}


/*  */

.btn {
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.5rem;
}

.text {
    opacity: 0.8;
}


/*  */
.search-meal {
    text-align: start;
}




.container {
    /* background-image: url("images/background.jpg"); */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;


}

.meal-wrapper {
    margin: 0 auto;
    padding: 2rem;
    background: none;
    text-align: justify;
}

.meal-search {
    margin: 0 1rem;
}

.meal-search cite {
    font-size: 1rem;
}

.meal-search-box {
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
}

.search-control,
.search-btn {
    width: 70%;
}

.search-control {
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid rgba(202, 202, 176, 0.979);
    ;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.search-control::placeholder {
    color: rgba(202, 202, 176, 0.979);
}

.search-btn {
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: rgba(202, 202, 176, 0.979);
    color: #fff;
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all .4s linear;
}

.search-btn:hover {
    /* background: lime; */
}

.meal-result {
    margin-top: 4rem;
    background: none;

}

#meal {
    margin: 2.4rem 0;
    color: #000;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.meal-item {
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 2rem 0;
    background: #fff;
    display: flex;
    flex-direction: row;

}

.meal-img {
    width: 60%;
}

.meal-img img {
    width: 100%;
    max-height: 300px;


}

.meal-name {
    position: relative;
    width: 40%;
    padding: 40px;
    text-align: start;
    color: gray;
}

.meal-name span {
    color: olive;
}

.get-recipe-section {
    display: flex;
    justify-content: space-between;
    font-size: smaller;

    color: gray;
}



.recipe-btn {
    text-decoration: none;
    color: olive;
    background: rgba(202, 202, 176, 0.678);
    padding: 10px;
    border-radius: 4px;
    position: absolute;
    bottom: 40px;
    left: 40px;
    transition: all 0.4s linear;
}

.recipe-btn:hover {
    background: olivedrab;
}

/* Meal Details */
.meal-details {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(107, 107, 107);
    background: rgb(202, 202, 176);
    border-radius: 1rem;
    width: 100%;
    height: 90%;
    text-align: justify;
    overflow-y: scroll;
    display: none;
    padding: 6px;

}

.meal-details::-webkit-scrollbar {
    width: 10px;
}

.meal-details::-webkit-scrollbar-thumb {
    background: #f0f0f0;
    border-radius: 2rem;
}

/* js related */
.showRecipe {
    display: block;
}

.meal-details-content {
    margin: 2rem;
    font-family: sans-serif;
}

.recipe-meal-img img {
    width: 100%;
}

.meal-details-content p:not(.recipe-category) {
    margin: 1rem 0;
}

.recipe-close-btn {
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background: #fff;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

.recipe-title {
    margin: 0 auto;
    width: 80%;
    text-align: start;
    padding: 2rem 0;

}

.recipe-category {
    background: #fff;
    font-weight: 600;
    color: olivedrab;
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
}

.recipe-instruction {
    margin: 0 auto;
    padding: 1rem 0;
}

.recipe-meal-img img {
    width: 80%;
    height: 30%;
    border-radius: 10px;
    margin: 0 auto;
    display: block;

}

.ingredients-list {
    list-style: none;
    padding: 1rem 0;

}

.recipe-link {
    margin: 1.4rem 0;
}

.recipe-link a {
    color: red;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.4s linear;
}

.recipe-link a:hover {
    opacity: 0.8;
}

/*  */
.notFound {
    grid-template-columns: 1fr !important;
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
    color: rgb(81, 182, 81);
}

.contact-form-section {
    text-align: center;
    padding: 50px 0;
    color: rgb(136, 136, 63);
    ;

}

.contact-form-section form {
    width: 100%;
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    text-align: left;

}

.contact-form-section span {
    display: block;
}

.contact-form-section input,
textarea {
    width: 100%;
    padding: 20px;
}

textarea {
    min-height: 200px;
}

.Submit-btn {
    font-size: 1rem;
    color: rgb(136, 136, 63);
    background-color: rgb(136, 136, 63);
    ;
}

.footer {
    background-color: rgba(202, 202, 176, 0.979);
    color: rgb(136, 136, 63);
    ;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Media Queries */
@media screen and (max-width: 600px) {
    .hero {
        flex-direction: column;
    }

    .hero .hero-img-section {
        width: 100%;
    }

    .hero-content-section {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .all-articles {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .about-section-inner {
        flex-direction: column;
        gap: 10px;
    }

    .about-img {
        width: 100%;
    }

    .about-details {
        width: 100%;
    }

    .authors-profile {
        grid-template-columns: repeat(1, 1fr)
    }

    .authors-profile-img img {
        width: 100%;
        height: 350px;
        border: 8px solid rgba(202, 202, 176, 0.979);
    }

    .author-section {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .display-section {
        padding: 60px 10px;
        font-size: small;
    }

    .meal-item {
        flex-direction: column;

    }

    .meal-img {
        width: 100%;
    }

    .meal-name {
        width: 100%;
    }

    .meal-name h3 {
        font-size: 2rem;
    }

    .recipe-btn {
        text-align: center;
        position: relative;
        bottom: 0;
        left: 0;
        margin-top: 20px;
        display: block;
    }

    .meal-search-box {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .contact-form-section input,
    textarea {
        width: 300px;
    }
}

@media screen and (min-width: 768px) {
    main {
        padding: 10px;
    }

    #meal {
        gap: 2rem;
    }

    .meal-item {
        margin: 0;
    }

    .meal-details {
        width: 700px;
    }

    .authors-profile {
        grid-template-columns: repeat(2, 1fr)
    }

    .contact-form-section input,
    textarea {
        width: 400px;
    }


}

@media screen and (min-width: 992px) {
    main {
        width: 1100px;
    }

    .container {
        width: 800px;
        margin: 0 auto;
    }
    .authors-profile{
        grid-template-columns: repeat(3, 1fr);
    }
    .contact-form-section {
        width: 800px;
        margin: 0 auto;
    }

    .contact-form-section input,
    textarea {
        width: 400px;
    }

    .container-fluid {
        padding-left: 120px;
        padding-right: 120px;
    }
}